<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Edit exercise')}"></head>

<body>
    <h1>Edit exercise: <span th:text="${exercise.name}"></span></h1>

    <form th:action="@{/workouts/{wid}/exercises/{id}(wid=${workout.id},id=${exercise.id})}" method="post">
        <label>Name <input name="name" th:value="${exercise.name}"></label>
        <label>Rep range lower <input type="number" name="repRangeLower" th:value="${exercise.repRangeLower}"></label>
        <label>Rep range upper <input type="number" name="repRangeUpper" th:value="${exercise.repRangeUpper}"></label>
        <label>Sets <input type="number" name="sets" th:value="${exercise.sets}"></label>
        <label>Rest seconds <input type="number" name="restSeconds" th:value="${exercise.restSeconds}"></label>
        <label>Note <input name="note" th:value="${exercise.note}"></label>
        <button>Save</button>
    </form>

    <a th:href="@{/workouts/{id}/edit(id=${workout.id})}">back</a>
</body>

</html>
