<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Workouts')}"></head>

<body>
    <h1>Workouts</h1>

    <form method="post" action="/workouts">
        <label for="name-input">Name: </label>
        <input id="name-input" type="text" name="name">
        <button type="submit">Add</button>
    </form>

    <ul>
        <li th:each="w : ${workouts}">
            <span th:text="'Name: ' + ${w.name}">Workout name</span>
            <a th:href="@{/workouts/{id}/edit(id=${w.id})}">edit</a>
            <form th:action="@{/workouts/{id}/delete(id=${w.id})}" method="post" style="display:inline">
                <button>delete</button>
            </form>
        </li>
    </ul>
</body>

</html>
